<html>
<head> 
<title>Welcome to login page</title> 
</head>
<body>
<h1>Welcome Everyone </h1>
Username:<input type="text" value="">
Password:<input type="password" value="" >
<ul><a href="http://www.gmail.com">
<img src="*\Examples\target\blue-email-box.png" height="35" width="30">
</img></a>

<h3><a href="http://www.gmail.com">
<input type="button" value="Login">
</h3></a></ul>

<table border="1" width="50%">
<tr>
<th>sl.no</th>
<th>Name</th>

<tr><td><div align="center">1.</td></div>
<td><div align="center">Vivekbabu P</td></div>


<tr><td><div align="center">2.</td></div>
<td><div align="center">James Rajesh E</td></div>


<tr><td><div align="center">3.</td></div>
<td><div align="center">Balakrishnan N</td></div>

<tr><td><div align="center">4.</td></div>
<td><div align="center">Ramesh Kumar S</td></div>

<tr><td><div align="center">5.</td></div>
<td><div align="center">Kanagavel S</td></div>

<tr><td><div align="center">6.</td></div>
<td><div align="center">Saravanakumar P</td></div>

<tr><td><div align="center">7.</td></div>
<td><div align="center">Prabanandham D</td></div>

<tr><td><div align="center">8.</td></div>
<td><div align="center">Manoj Kumar C</td></div>

</table>

</body>


</html>